@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poetsen+One&display=swap');

/* fontes */
main{
    font-family: "Poetsen One", system-ui;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
   
}



  

